/* 기본 스타일 리셋 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #f8f9fa;
}

li {
    list-style: none;
}
ul, ol {
    padding-left: 0;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}