@use '../utils/variables' as *;

/* 기본 스타일 리셋 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    color: $color-black;
    background-color: #fff;
    font-size: $font-size-base;
}

li {
    list-style: none;
}

ul,
ol {
    padding-left: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.6;
    color: $color-black;
    font-weight: 700;
}