@use '../utils/responsive' as *;

/* 포스트 */
.post {
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.post-title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #333;

}

.post-content {
    margin-bottom: 1rem;
}
