// 한글: Noto Sans KR (Google Fonts) / 영문: Google Sans
// Google Sans은 Google Fonts에 없어 별도 로드 시 사용. 없으면 Noto Sans KR 적용
@use '../utils/variables' as *;

body, div, h1, h2, h3, h4, h5, h6, p, a, span, li, ul, ol, table, tr, td, th, textarea, input, button {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: -0.02em;
    color: $color-black;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}