@use '../utils/variables' as *;

.divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: $color-black;
  margin: $spacing-lg 0;
}

.wp-block-separator {
  border-top: 1px dashed $color-gray-400;
  margin: $spacing-lg 0;
}