@use '../utils/variables' as *;

.divider {
  display: block;
  width: 100%;
  height: 4px;
  background-color: $color-black;
  margin: $spacing-lg 0;
  &.color-gray-200 {
    height: 4px;
    background-color: $color-gray-200;
  }
}

.wp-block-separator {
  border-top: 1px dashed $color-gray-400;
  margin: $spacing-lg 0;
}

.btn, input.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: $spacing-xs $spacing-sm;
  // border-radius: $radius-sm;
  background-color: transparent;
  color: $color-black;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: $font-size-base;
  font-weight: 800;
  border: none;
  cursor: pointer;
  &:hover {
    color:var(--heblogs-color-base);
  }
}