@use '../utils/variables' as *;
@use '../utils/responsive' as *;

.site-footer {
    width: 100%;
    background-color: $color-gray-100;
    border-top: 1px solid $color-gray-200;
    margin-top: $spacing-xl;
    padding: $spacing-xl 0;

    @include below($breakpoint-mobile) {
        padding: $spacing-lg 0;
        margin-top: $spacing-lg;
    }
}

.footer-wrapper {
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 0 $container-padding;
}

.footer-widgets {
    margin-bottom: $spacing-lg;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: $spacing-lg;

    @include below($breakpoint-mobile) {
        grid-template-columns: 1fr;
        gap: $spacing-md;
    }

    .widget {
        background-color: transparent;
        padding: 0;
        border: none;
        margin-bottom: 0;
    }

    .widget-title {
        font-size: $font-size-base;
        color: $color-black;
        margin-bottom: $spacing-md;
        padding-bottom: $spacing-sm;
        border-bottom: 1px solid $color-gray-300;
        font-weight: 700;
    }

    .menu {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: $spacing-xs;
        }

        a {
            color: $color-gray-500;
            text-decoration: none;
            transition: color 0.2s ease;

            &:hover {
                color: $color-black;
            }
        }
    }

    .search-form {
        display: flex;
        gap: $spacing-xs;
    }

    .search-field {
        flex: 1;
        padding: $spacing-sm;
        border: 1px solid $color-gray-300;
        color: $color-gray-600;
        background-color: $color-white;

        &:focus {
            outline: none;
            border-color: $color-gray-500;
        }
    }

    .search-submit {
        padding: $spacing-sm $spacing-md;
        background-color: $color-black;
        color: $color-white;
        border: none;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: $color-gray-600;
        }
    }
}

.site-info {
    text-align: center;
    padding-top: $spacing-md;
    border-top: 1px solid $color-gray-200;
    color: $color-gray-500;

    p {
        margin: 0;
    }

    a {
        color: $color-gray-500;
        text-decoration: none;

        &:hover {
            color: $color-black;
        }
    }
}
