@use '../utils/variables' as *;
@use '../utils/responsive' as *;

.widget-area {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    .widget {
        background-color: $color-white;

        @include below($breakpoint-mobile) {
        }
    }
     // 검색 폼
    .widget_search {
        .wp-block-search__label {
            display: none;
        }
        #wp-block-search__input-1 {
            &::placeholder {
                color: $color-gray-400; // 원하는 색
                opacity: 1;     // Firefox에서 옅게 보이는 것 방지
            }
        }
        .wp-block-search {
            display: flex;
            position: relative;
            .wp-block-search__inside-wrapper {
                border: 4px solid $color-black;
                border-radius: 10px;
                overflow: hidden;
                padding: 0;
                background-color: var(--heblogs-color-background);
            }
            .wp-block-search__input {
                font-size: $font-size-base;
                padding: $spacing-sm $spacing-sm;
                background-color: transparent;
                width: 100%;
                &:focus {
                    outline: none;
                    border-color: var(--heblogs-color-base);
                }
            }
            .wp-block-search__button.has-icon {
                background-color: transparent;
                margin: 0;
                border:none;
                width: 60px;
                svg {
                    fill: var(--heblogs-color-base);
                    min-height: 30px;
                    min-width: 30px;
                }
            }
        }
    }
    // 메뉴 위젯
    .widget_categories {
        .wp-block-heading {
            margin-bottom: $spacing-xs;
            font-size: $font-size-base;
            color: var(--heblogs-color-base);
            padding-bottom: $spacing-xs;
            border-bottom: 4px solid var(--heblogs-color-base);
            width: 100%;
        }
        .wp-block-categories-list {
            display: flex;
            flex-direction: column;
            gap: $spacing-sm;
            width: 100%;
        }
        li.cat-item {
            padding-bottom: $spacing-sm;
            border-bottom: 1px solid $color-black;
            a {
                color: $color-black;
                text-decoration: none;
                padding: $spacing-xs 0;
                transition: color 0.2s ease;
                font-weight: 800;
                font-size: $font-size-xl;
    
                &:hover {
                    color: var(--heblogs-color-base);
                }
            }
        }

    }
    // 카테고리
   .wp-block-latest-posts {
        .wp-block-latest-posts__post-title {
            font-size: $font-size-lg;
            line-height: 1.2em;
            font-weight: 600;
        }
        .wp-block-latest-posts__post-date {
            color: $color-gray-400;
            font-weight: 600;
        }
        .wp-block-latest-posts__post-excerpt {
            font-size: $font-size-sm;
            line-height: 1.4em;
            color: $color-gray-500;
        }
        .wp-block-latest-posts__read-more {
            font-size: $font-size-sm;
            line-height: 1.2em;
            font-weight: 600;
            text-decoration: underline;
        }
   }
}
